
/* SIGNUP PAGE  */
input{
    padding: 8px 12px;
    border-color: var(--primary);
    border-radius: 8px;
    margin: 10px 0;
}
.sign_up h3{
    padding: 10px 0;
}
body{
    background-color: var(--bg);
}
.sign_up button{
    margin: 10px 0;
}
fieldset{
    justify-content: center;
    height: 480px;
    margin: auto;
    border: none;
    box-shadow: 0 8px 40px rgba(159, 162, 177, 0.499);
    width: 900px;
    border-radius: 10px;
}





/* LOGIN PAGE  */
.bg_primary{
    border-radius: 0 10px 10px 0;
    background-color: var(--primary);
    color: white;
    height: 480px;
}
.bg_primary h1{
    padding: 50px 0 15px 0;
}
.bg_primary button{
    margin: 15px 0;
    padding: 8px 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    color: var(--primary);
    border-radius: 20px;
}
.bg_primary button:hover{
    color: white;
    background-color: var(--l-primary);
}



/* PRODUCT PAGE */
.main-div{
    border: 1px solid var(--primary);
}







/* HOME PAGE */
.banner{
    position: relative;
    background-image: url('https://preview.colorlib.com/theme/cozastore/images/slide-02.jpg.webp');
    height: 100vh;
}
.home-banner{
    padding-left: 200px;
    padding-top: 250px;
    font-size: 25px;
}
.home-banner p,button{
    font-size: 15px;
    padding: 10px 0;
}
.color-layer{
    background-color: rgba(0, 0, 0, 0.163);
    height: 100vh;
}